:root {
  --primary-color: #82998b; /* Sage Green */
  --secondary-color: #c2b280; /* Terracotta */
  --accent-color: #f0e68c; /* Creamy Yellow */
  --text-color: #333333; /* Dark Gray */
  --background-color: #f5f5f5; /* Light Gray */
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--primary-color);
}
.heading {
  padding: 1vh;
  padding-left: 588px;
}

.heading b {
  color: var(--accent-color);
}
.plant-listings {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: space-between; /* Space cards evenly */
  cursor: pointer;
}

.plant-card {
  background-color: var(--secondary-color);
  width: calc(25% - 20px); /* Adjust width as needed */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
}
img {
  filter: invert(0);
  border: solid var(--background-color) 5px;
}
img :hover {
  filter: invert(1);
}
.price {
  display: flex;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  color: red;
  margin-right: 5px;
}

.discounted-price {
  color: green;
  font-weight: bold;
}
